.tick line, .grid-x line, .grid-y line{
    stroke: #D9D9D9 !important;
    stroke-width: 1px !important;
    stroke-opacity: 1 !important;
}
p, span{
    font-family: 'OpenSans', 'Helvetica Neue', arial, sans-serif !important;
    font-size: 18px;
}
text{
    font-family: 'OpenSans', 'Helvetica Neue', arial, sans-serif !important;
    font-size: 14px !important;
    margin: 0 !important
}
.dataLabel{
    font-weight: 600 !important;
}
.item{
    font-size: 14px;
}
.title{
    font-weight: 600;
}
/* legend div */
#legend {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

.legend--item {
  display: flex;
  padding-right: 40px;
  padding-bottom: 12px;
}

.legend--icon--circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  align-self: center;
  flex-shrink: 0;
  forced-color-adjust: none;
}

/* a legend circle with a border for scatterplots */

.legend--icon--circle2 {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  align-self: center;
  flex-shrink: 0;
  border: 2px solid;
  forced-color-adjust: none;
}

.legend--icon--refline {
  height: 3px;
  width: 20px;
  align-self: center;
  flex-shrink: 0;
  forced-color-adjust: none;
}

.legend--text {
  color: var(--ons-color-grey-75);
  line-height: 14px;
  font-size: 14px;
  padding-left: 6px;
  margin: 0;
}

.dataLabels {
  font-weight: 600;
  font-size: 14px;
}

@media (max-width: 400px) {
  #legend {
    flex-flow: column;
  }

  .legend--item {
    padding-bottom: 8px;
  }
}