.standfirst {
  font-size: 24px;
  margin-top: -16px;
}

.chart-note {
  font-size: 0.8em;
  color: rgb(102, 102, 102);
  min-height: auto !important;
  margin-top: 8px;
}

.section-warning .ons-panel {
  border-top: 1px solid #222 !important;
  border-bottom: 1px solid #222 !important;
  padding: 24px 0;
}

.ons-panel__icon {
  top: 50%;
  transform: translateY(-50%);
}

.chart-outer {
  width: 100%;
  font-size: 14px;
}

.chart-footer {
  font-size: 16px;
  margin: 16px 0 8px;
  color: rgb(102, 102, 102) !important;
}

.chart-label {
  font-weight: bold;
}

button, input, optgroup, select, textarea {
  font-family: 'OpenSans', 'Helvetica Neue', arial, sans-serif !important;
}

.ons-metadata {
  margin: 32px 0 -24px !important;
}

h1.ons-u-fs-xxxl {
  font-size: 38px;
  line-height: 48px;
}

button.btn-link {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  color: var(--ons-color-text-link);
  text-decoration: underline solid var(--ons-color-text-link) 1px;
  text-underline-position: under;
  text-align: left;
  line-height: 1.5;
}

button.btn-link:hover {
  color: var(--ons-color-text-link-hover);
  text-decoration: underline solid var(--ons-color-text-link-hover) 2px;
}

button.btn-link:focus {
  background-color: var(--ons-color-focus);
  box-shadow: 0 2px var(--ons-color-focus),0 4px var(--ons-color-text-link-focus);
  color: var(--ons-color-text-link-focus);
  outline: 3px solid transparent;
  outline-offset: 1px;
}

.select-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  max-width: 600px;
}

.header-block {
  padding: 12px 24px 0;
  font-size: 1.125rem;
}

.autocomplete__dropdown-arrow-down{
  color: var(--ons-color-black);
}